@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22d4fd;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteudo h1 {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.conteudo p {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.botoes a {
    background-color: #22d4fd;
    width: 280px;
    color: black;
    text-align: center;
    padding: 21.5px 0;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    border-radius: 16px;
}

.botoes a:hover {
    cursor: pointer;
}